body{
    background-color: rgb(245, 238, 238);
    font-family: arial;
}

.container{
    border: 3px solid black;
    background-color: lightsteelblue;
    width: 600px;
    height: 250px;
    margin: 150px auto 0 auto;
}

.title{
    text-align: center;
}

.temperatureInput{
    display: block;
    padding: 5px;
    margin: 0 auto 20px auto;
    width: 40%;
}

.selectsContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.resultDiv{
    text-align: center;
    font-size: 25px;
}

@media(max-width: 800px){
    .container{
        width: 500px;
    }
}

@media(max-width: 600px){
    .container{
        width: 400px;
        height: 200px;
    }
}

@media(max-width: 400px){
    .container{
        width: 100%;
    }
    .title{
        font-size: 27px;
    }
}
 @media(max-width: 320px){
     .temperatureInput{
         width: 50%;
     }
 }